<div class="navbar navbar-inverse navbar-fixed-top pal">
    <div class="container">
        <div id="home" class="logo">
            <a href="javascript:void(0)" class="navbar-brand">
             Drug Recall Gateway
            </a>
        </div>
        <ul class="nav nav-pills pull-right">
            <li class="active"><a data-target="home" href="javascript:void(0);">Home</a></li>
            <li><a data-target="deviceRecallGateway" href="http://localhost:9002/">Device Recall Gateway</a></li>        
            <li><a data-target="foodRecallGateway" href="https://foodrecallgateway.herokuapp.com/">Food Recall Gateway</a></li>        
        </ul>
    </div>
</div>
